* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .title{
  
        font-weight: bold;

  }
  .image {
    width: 100%;
    height: auto;
  }
  
  .buyButton {
    background-color: rgb(117, 103, 242); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
  }

  .boughtButton {
    background-color: rgb(239, 239, 245); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
  }

  .buyButton:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
  }
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: 0 20px;
    }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: tab;
    display: table;
    clear: both;
  } */
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
    padding: 25px;
    text-align: center;
    background-color: #d4d5d5;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }